@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior:smooth
}

body{
  color: #fafafa;
}

li::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #fafafa;
  transition: all 0.3s ease-in-out;
}

#Inicio{
  background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(/fondo.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.cuadro{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}